@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #F0F0F0;
  padding-bottom: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-dashboard {
  background: #16abf8 !important;
  font-family: "Poppins", sans-serif;
  padding: 2em 0.4em;
}
.navbar-dashboard h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5em;
}

.dashboard-activity {
  position: relative;
  margin-top: 2.5em;
}

.header-activity {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  font-family: "Poppins", sans-serif;
}
.header-activity .activity-title {
  flex: 1;
  display: flex;
  font-weight: 600;
  align-items: center;
}
.header-activity .btn-activity-add-button {
  width: 140px;
  padding: 0 0.5em;
  height: 100%;
  display: flex;
  gap: 0.3em;
  border-radius: 2em;
  justify-content: center;
  align-items: center;
  background-color: #16abf8;
  color: #fff;
}
.header-activity .btn-activity-add-button i {
  font-size: 1.3em;
}

.activity-empty-state {
  position: relative;
  width: 100%;
  margin-top: 1.5em;
  cursor: default;
  border: none;
}
.activity-empty-state img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 400px;
}

.dashboard-new-item {
  position: relative;
  width: 100%;
  margin-top: 1.5em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 220px;
}
.dashboard-new-item .activity-item {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: inherit;
  text-decoration: none;
  background: #fff;
  font-family: "Poppins", sans-serif;
  border-radius: 0.7em;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.4);
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.dashboard-new-item .activity-item .activity-item-title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.3em;
  flex: 1;
  cursor: pointer;
}
.dashboard-new-item .activity-item .date-activity {
  display: flex;
  align-items: center;
  color: #777777;
}
.dashboard-new-item .activity-item .date-activity span {
  flex: 1;
}
.dashboard-new-item .activity-item .date-activity .activity-item-delete-button {
  border: none;
  outline: none;
  padding: 0.1em 0.2em;
}
.dashboard-new-item .activity-item .date-activity i {
  font-size: 1.1em;
  color: #777777;
  font-weight: 600;
}

.modal-delete-container-activity {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  padding: 0.6em;
}
.modal-delete-container-activity .modal-delete {
  width: 500px;
  background: #fff;
  padding: 1.5em 2.5em;
  border-radius: 0.8em;
  box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.75);
}
.modal-delete-container-activity .modal-delete .modal-delete-icon {
  font-size: 5em;
  color: red;
  display: block;
  text-align: center;
}
.modal-delete-container-activity .modal-delete .modal-delete-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}
.modal-delete-container-activity .modal-delete .modal-delete-title .activity-title {
  text-transform: capitalize;
  font-weight: 600;
}
.modal-delete-container-activity .modal-delete .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}
.modal-delete-container-activity .modal-delete .modal-footer button {
  border: none;
  font-weight: 600;
  padding: 0.8em 2em;
  border-radius: 2em;
}
.modal-delete-container-activity .modal-delete .modal-footer button:hover {
  opacity: 0.7;
}
.modal-delete-container-activity .modal-delete .modal-footer .modal-delete-confirm-button {
  color: #fff;
}
.modal-delete-container-activity .modal-information {
  width: 500px;
  display: flex;
  background: #fff;
  border-radius: 0.7em;
  padding: 0.5em 1em;
  align-items: center;
  gap: 0.8em;
  box-shadow: 0px 4px 5px -3px rgba(0, 0, 0, 0.75);
}
.modal-delete-container-activity .modal-information i {
  font-weight: bold;
  font-size: 1.5em;
}
.modal-delete-container-activity .modal-information p {
  padding: 0;
  margin: 0;
}

.detail-activity {
  position: relative;
  border: 1px solid red;
  margin-top: 2.5em;
}

.header-detail-activity {
  position: relative;
  width: 100%;
  height: 55px;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-auto-rows: auto;
  gap: 0.7em;
}
.header-detail-activity .todo-back-button {
  width: 50px;
  display: grid;
  place-items: center;
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  height: 100%;
}
.header-detail-activity .container-edit-title {
  height: 100%;
  display: flex;
}
.header-detail-activity .container-edit-title .input-edit-title {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  height: 100%;
  outline: none;
  font-size: 2em;
  flex: 1;
  font-weight: bold;
}
.header-detail-activity .container-edit-title .todo-title {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.header-detail-activity .container-edit-title .todo-title-edit-button {
  width: 50px;
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  border: none;
  font-weight: bold;
}
.header-detail-activity .button-action {
  display: flex;
  gap: 0.5em;
  justify-content: end;
}
.header-detail-activity .button-action .todo-sort-button {
  border-radius: 50%;
  width: 55px;
  font-size: 1.5em;
  border: 1px solid rgb(155, 153, 153);
  color: rgb(155, 153, 153);
}
.header-detail-activity .button-action .todo-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background: #16abf8;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 0 1.5em;
  border-radius: 2em;
}
.header-detail-activity .button-action .todo-add-button i {
  font-size: 1.3em;
  font-weight: bold;
}
.header-detail-activity .button-action .todo-add-button:hover {
  opacity: 0.6;
}

@-webkit-keyframes cascade {
  0% {
    opacity: 0;
    transform: translateY(-250%);
  }
  30%, 60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(250%);
  }
}
@keyframes cascade {
  0% {
    opacity: 0;
    transform: translateY(-250%);
  }
  30%, 60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(250%);
  }
}
.cascade {
  height: auto;
  position: relative;
  display: grid;
  margin-top: 1.5em;
  justify-content: center;
  grid-template-columns: repeat(5, 20px);
  gap: 0px;
}

.cascade div {
  background: #2b2b2b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.cascade div:nth-child(1) {
  -webkit-animation: cascade 1.5s 0.15s ease infinite backwards;
          animation: cascade 1.5s 0.15s ease infinite backwards;
}

.cascade div:nth-child(2) {
  -webkit-animation: cascade 1.5s 0.3s ease infinite backwards;
          animation: cascade 1.5s 0.3s ease infinite backwards;
}

.cascade div:nth-child(3) {
  -webkit-animation: cascade 1.5s 0.45s ease infinite backwards;
          animation: cascade 1.5s 0.45s ease infinite backwards;
}

@media screen and (max-width: 1000px) {
  .dashboard-new-item {
    grid-template-columns: repeat(3, 1fr);
  }
  .header-detail-activity {
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    gap: 0.7em;
  }
  .header-detail-activity .container-edit-title .input-edit-title {
    flex: auto;
    width: 100%;
  }
  .header-detail-activity .container-edit-title .todo-title {
    flex: 1;
  }
  .header-detail-activity .container-edit-title .todo-title-edit-button {
    width: 40px;
  }
  .header-detail-activity .button-action {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-new-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal-delete-container-activity .modal-delete {
    width: 400px;
  }
  .modal-delete-container-activity .modal-information {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .dashboard-new-item {
    grid-template-columns: 1fr;
  }
  .modal-delete-container-activity .modal-delete {
    width: 100%;
    padding: 1.5em 1em;
  }
  .modal-delete-container-activity .modal-information {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */